@import "compass/css3/user-interface";
@import "variables";


// ======================================================================================
// WIRING - BEHAVIOUR
// ======================================================================================

.behaviour {
    cursor: pointer;
    @include user-select(none);

    .behaviour-description {
        margin-bottom: 0;
        max-height: $wiring-description-maxheight;
        overflow: hidden;
    }
}

.behaviour-title {
    width: $behaviour-title-width;
    float: left;
    white-space: nowrap;

    & > span {
        display: inline-block;
        max-width: 100%;
    }
}

.behaviour.temporal {
    visibility: hidden;
}

.behaviour.dragging {
    position: absolute;
    cursor: move;
    top: 0;
    left: 0;
    z-index: 10;
}
